*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Luminari', cursive, serif;
}
div img {
  z-index: 0;
}
.center-absolutely-in-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%)
}
h1 {
  text-decoration: none;
  text-shadow: 2px 2px 20px white,
  -2px -2px 20px white,
  -2px 2px 20px white,
  2px -2px 20px white;
}
div p {
  position: relative;
  z-index: 10;
}
.center-inside-parent {
  position: relative;
  left: 50%;
  margin-right: -50%;
}

.keep-it-realistic {
  width: 700px;
  height: none;
}

.bottom-pic-zone {
  position: absolute;
  left: 0;
  /*right: 0%;*/
  bottom: 0;
  height: 20%;
  width: 100%;
  margin-right: 0;
  /*display:*/
}
.honey-to-water-gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(gold, cornsilk, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gold, cornsilk, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gold, cornsilk, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(gold, cornsilk, white); /* Standard syntax */
}
.water-to-honey-gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, cornsilk, gold); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, cornsilk, gold); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, cornsilk, gold); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, cornsilk, gold); /* Standard syntax */
}
.water-and-honey-gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk); /* For Firefox 3.6 to 15 */
    background: linear-gradient(cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk, gold, cornsilk); /* Standard syntax */
}

.hipsum_text {
  position: relative;
}
div p {
  padding-top: 20px;
  font-style: italic;
}
div p::first-line {
  color: red;
  font-style: normal;
  font-size: 1.2em;
}
